
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* { box-sizing: border-box; margin:0; padding:0; }


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.align-right {text-align: right;}
.align-center {text-align: center;}
.align-left {text-align: left;}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


body { background: #F0F0F0; }

.container { width: 1100px; margin:0 auto; }

header { color:#f1f2f2; background-image: linear-gradient(-180deg, #484848 0%, #000000 100%); padding:20px 0; border-top:6px solid #2D2D2D;}

img.logo { float: left; }

nav { float: left; }


.contact { float: left; position: relative; top: -20px; }
.contact {  
background-image: linear-gradient(-179deg, #2D2D2D 0%, #4B4B4B 100%); 
  Rectangle 17:  padding: 16px;
height: 37px;  
float: right;;;
}
.contact:before { width:75px; position: absolute; content: ""; left:-60px; 
background: url(../img/black_bg.svg) no-repeat; height: 39px; top:-2px; } 


.loading:before { position: absolute; content: ""; top:6px; z-index: 900; 
  
height: 37px; width: calc((100% - 1100px)/ 2); background-image: linear-gradient(-179deg, #2D2D2D 0%, #4B4B4B 100%); right: 0;  
} 

.contact a { font-size: 12px; }

.contact img { margin-right: 5px; }

nav li { float:left; list-style-type: none; margin:0 15px; position: relative; }

nav li>ul { display: none; padding-left: 0; position: absolute; left:0; top:10px; background:#333; width:200px; z-index: 90;; }
nav li:hover ul { display: block; }
nav li>ul li { border-bottom:1px solid #444; margin:5px; float: none; }
nav li>ul li a { display: block; }

header a { color:#fff; /* Home About Us Produc: */
font-family: HelveticaNeue-Bold, sans-serif; text-decoration: none;
font-size: 14px; position: relative;
color: #D8D8D8; padding:10px 5px;
letter-spacing: 0px; }


nav li a:after { content:""; position: absolute; left:50%; width:50%; bottom:-2px; height:1px; 
background:#ccc; opacity:0;

-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
transition:all .2s ease-in-out;
}


nav li a.active:after { opacity: 1; }

nav li a:hover:after { width:100%; opacity:1; }

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeue-CondensedBold.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


h1 { text-transform: uppercase;
font-family: HelveticaNeue-CondensedBold,sans-serif;
font-size: 72px;
color: #000000;
letter-spacing: 0px;
line-height: 72px;
}

.lead {
    max-width: 600px; margin-bottom: 40px;
font-family: Merriweather-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0px;
line-height: 24px; }


.banner { background:#000 url(../img/tyre.jpg) no-repeat right bottom; height: 520px; position: relative;  }

.banner .btn-primary { position: absolute; left:50%; bottom:60px; -webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%); }




.btn-primary { 
background: rgba(0,0,0,0.68); color:#f0f0f0; /* MORE ABOUT TYRES: */
font-family: 'HelveticaNeue-Bold';
font-size: 12px;
color: #D8D8D8;
letter-spacing: 0px;
padding:14px 20px;
border: 1px solid #FDE900;text-transform: uppercase; 
/*transition: all .15s ease-in-out;*/}


.btn-primary:hover { background:  #FDE900; color: #E13348; }

.btn-default {  background:none; text-transform: uppercase;
/* Rectangle 2: */
border: 2px solid #FE0000; padding:14px 20px; /* VIEW OPEN JOBS: */
font-family: Merriweather-Regular;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0px;
text-shadow: 0px 2px 10px #9B9B9B; }


.btn-default:hover { background:#fff; }

a.arrow { /* Know More: */
font-family: HelveticaNeue-Bold; text-decoration: none;
font-size: 14px;
color: #E13348;
letter-spacing: 0px;
 background: url(../img/arrow.svg) no-repeat right center; padding-right: 25px; display: inline-block; }

.offer { text-align: right; color:#f1f1f1; height:80vh; margin-top: 60px; background: #000; position: relative; overflow: hidden; max-height: 600px; }

.offer h2 {
    padding-top: 10%; color:#F0F0F0;}


h2 {
font-family: HelveticaNeue-CondensedBold;
font-size: 36px;
color: #444;
letter-spacing: 0px;}


.offer h2, .products h2, .team h2 { color:#f0f0f0; }

.offer .container { position: relative; z-index:10; }

.offer-img { position: absolute; left:0; bottom: 0; z-index: 1; width:50%; max-width: 1150px; height: 600px;;  }

.products h2 { /* Batteries: */
font-family: HelveticaNeue-CondensedBold;
font-size: 36px;
color: #D8D8D8;
letter-spacing: 0px; /* Batteries: */
margin-bottom: 0;; }

.products .container {
background: #FFFFFF; position: relative; top: -40px; z-index: 20;
box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.15);
border-radius: 6px; padding:30px 30px 60px;
box-sizing: border-box; }

.card { /* Rectangle 3: */
background: #FFFFFF; height: 410px; 
border: 4px solid #F8E71C; /* Rectangle 3: */
padding: 30px; }


.products .card  img { margin-bottom: 40px; }

.card-media { padding:0; border:none; text-align: right; background:#f0f0f0; }


.row { margin: 0 -15px;}

.col-4 { width:30.33%; float: left; padding:0 15px; }


.card p { /* We are the sole dist: */
font-family: Merriweather-Regular;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0px;
line-height: 24px; }



.col-6 { width:50%; float: left; }

.team { margin-bottom: 40px; border-radius:6px; padding-top:40px; 

    height: 485px; background: url(../img/team.jpg) no-repeat; background-size: cover; }

footer { background: #fff; padding:40px 0; margin-top: 80px;  }

footer h2 { color:#999;}

.links a { text-align: center; float: left; margin-right:20px; background:#9B9B9B; width: 72px; height: 72px;  }


.links a:hover { background:#333; }
.links a img { margin-top: 20px;}

.address { display: inline-block; width: 250px; background:#d8d8d8; padding:20px; font-size: 14px; line-height: 2; margin-top:40px;}

.copyright { color: #ccc; text-align: center; font-size: 12px; margin:100px 0 40px; }

li { list-style-image:url(../img/arrow-black.svg); }

.list li { margin-bottom:10px; font-size:12px; }


.merriweather, .lower { font-family: 'Merriweather-Regular'; }


.arrow-down  { display: inline-block;
    /*top: 100%;
    left: 50%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ddd;
    border-width: 5px;
    margin-left: -5px;
    top: 4px;
    right: -10px;
}

.form-group { margin-bottom:20px; }
.form-group .form-control { float:left; }
.form-group .form-control + .form-control { border-left-width: 0px; }

.form-control { border:2px solid #ddd; padding:8px 10px; }


.map-container {

    width: 100%;
    margin: 50px 0 0px;
}
.map-container iframe{
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
    pointer-events: auto;
}


td { padding:20px; }

.img-indent { margin-bottom: 20px; margin-right: 20px; float: left; }


marquee img { max-width: none; }


@media (max-width:1200px) {

    .container { width:90%; }

    .col-4, .col-2 { width:100%; }

    .card { height: auto; }

}

@media (max-width:768px) {

img.logo, nav { float: none; }

.contact { background: none; margin-top:20px; }

.contact:before, .contact:after, .loading:before { display: none; }

.links a { margin-right:10px; width:55px; }
    table.branches td, .branches tr { display: block; width: 100%; }
    .col-6 { width:100%; float: none; }

nav li { float:none; margin-top: 20px; }

h1 { font-size:36px; line-height: 1; }

}


